*{
    font-family: 'Shrikhand',"cursive";
    font-family: 'Roboto', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
}
header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
    .logo
    {
        display: flex;
        justify-content: center;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
        z-index: 1000;
        width: 100%;
        img {
            width: 200px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

    }

    .lieux{
        display: flex;
        font-size: 16px;
        justify-content: center;
        background-color: #e6e6e6;
        width: 100%;
        font-weight: 700;
        .gps-logo{
            position: absolute;
            right: 252px;
            top: 90px;
            bottom: 541px;
            font-size: 20px;
        }
    }
}

.entete
{
   display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap;
   background-color: whitesmoke;
   padding-bottom: 40px;
        .desc p
        {
        padding : 10px 20px;
        flex-wrap: wrap;
        flex-direction: row;
                strong{
                    font-size: 28px;
                    padding-bottom: 0;
                    padding-left: 15px;
                        }
        }
            .explorer
            {
                display: flex;
                justify-content: center;
                width: 67%;
                height: 45px;
                border-radius: 100px;
                background-image: linear-gradient(0deg,#9356DC,#FF79DA);
                font-weight: 500;
                border-radius: 100px;
                color: white;
                padding: 1px;
                opacity : 1;
                p{
                    margin-top: 13px;
                }
        }

            .explorer:hover{
                    cursor: pointer;
                    opacity: 0.8;
                    background-color: #fff;
                    box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
                  }

    
}
#fonctionnement{
    margin-top: 40px;
}

.titrefonction
{
    margin-left: 20px;
    font-size: 24px;
}
.choisis , .compose , .deguste
{
    height: 60px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.125);
    border-radius: 20px;
    background-color: #f6f6f6;
    display: flex;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    margin-right: 20px;
    margin-left: -10px;
    margin-top: 16px;
}
.choisis::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -12px;
    top : 25px;
}
.compose::before {
    counter-increment: compteListe 2;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -12px;
    top : 25px;
}
.deguste::before {
    counter-increment: compteListe 3;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: -12px;
    top: 25px;
}
.choisis:hover{
    cursor: pointer;
    background-color: #e2dbfd;
    .filtre-logo{
        color: blue;
    }
}
.deguste:hover{
    cursor: pointer;
    background-color: #e2dbfd;
    .filtre-logo{
        color: blue;
    }
}.compose:hover{
    cursor: pointer;
    background-color: #e2dbfd;
    .filtre-logo{
        color: blue;
    }
}
.filtres p
{
    margin-left: 30px;
}
.filtre-logo
{
    position:absolute;
    top: 26px;
    left: 20px;
    color: #7e7e7e;
}
.container
{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Raleway', Arial, serif;
    margin-top: 30px;
        .cards
        {
                margin-left: 16px;
                border: 3px solid white;
                border-radius: 10px;
                padding: 0;
                background-color: white;
                margin-bottom: 28px;
                float: left;
                box-shadow: 0 0 11px #b6b6b6; 
                border-width:0px;
                font-style: normal;
                margin-bottom: -20px;
            }
            img{
                object-fit: cover;
                width: 340px;
                height: 200px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
}
}

    .titre_resto
    {
        margin-left: 20px;
    }
    .nouveau
{
    background-color: #99e2d0;
    z-index: 1000;
    color: #1b6150;
    padding: 10px;
    position: absolute;
    left: 260px;
    top: 833px;
}
    .nouveau2
{
    background-color: #99e2d0;
    color: #1b6150;
    padding: 10px;
    position: absolute;
    left: 260px;
    top: 1138.9px;
}

        .resto_contenu{
            color : black;
            margin-left: 10px;
            margin-top: 10px;
            width: 170px;
            .lieux_resto
            {
                margin-left: 10px;
                margin-top: -10px;
            }
}
.coeur p{
    position: relative;
    left: 310px;
    bottom:105px;
    font-size: 24px;
    width: 27px;
    width: 0px;
    height: 0px;
    top:-55px;
    .coeur2 {
      display: none;
      color: #9356DC
    }
}
.coeur p:hover{
    cursor: pointer;
    .coeur1{display: none;
    }
    .coeur2{
      display: block;
    }
}

.titre1 h3{
    border-bottom: 2px #b6b6b6;
}

#footer_contain
{
    margin-left:-10px;
}
footer{
    background-color: #353535;
    width: 100%;
    margin-top: -16px;
    margin-bottom: 0px;
    padding-bottom: 1px;
        .logo_foot
        {
            width: 100px;
            color : white;
            margin-left: 40px;
            p{
                padding-top: 15px;
                font-family: 'Shrikhand',"cursive";
            @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
            }
        }
.logo_foot
    {
            color: white;
           
    }
ul{
  list-style-type:none;
  line-height: 2;
        a{
        text-decoration: none;
        color: white;
    }   
}
.fa-utensils .fa-hands-helping{
    padding-right: 10px ;
}

}
  
  /* loader 1 css */
  

  
    .loader {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: hsla(0,0%,100%,.9);
        animation: loader .01s;
        animation-delay: 1.75s;
        animation-fill-mode: both;
        z-index: 2000;
        display: flex;
        align-items: center;
        justify-content: center;
        .load{
            background-image: linear-gradient(0deg,#9356DC,#FF79DA);
            border-radius: 100px;
            padding: 10px 20px;
            color: white;
            font-weight: lighter;
            font-family: 'Shrikhand',"cursive";
            @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
            
        }

    @keyframes loader {
        100%{
            opacity: 0;
            z-index: -10;
        }
    }
    p {
        animation-duration: 2s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-right: 52%;
          width: 100%;
        }
      
        to {
          margin-left: 0%;
          width: 200%;
        }
      }
      
    }
