@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: 'Shrikhand',"cursive";
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 690px) {
  header .lieux .gps-logo {
    position: absolute;
    right: 252px;
    bottom: 541px;
    font-size: 20px;
    left: 328px;
    top: 90.933px;
  }
  .entete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: whitesmoke;
    padding-bottom: 40px;
  }
  .entete .desc p {
    padding: 10px 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .entete .desc p strong {
    font-size: 28px;
    padding-bottom: 0;
    padding-left: 15px;
  }
  .entete .explorer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 67%;
    height: 45px;
    border-radius: 100px;
    background-color: #686868;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    font-weight: 500;
    border-radius: 100px;
    color: white;
    padding: 1px;
    opacity: 1;
  }
  .entete .explorer p {
    margin-top: 13px;
  }
  .entete .coeur {
    margin-left: 430px;
  }
  #fonctionnement {
    margin-top: 40px;
  }
  .filtres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .choisis, .compose, .deguste {
    height: 60px;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    background-color: #f6f6f6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    margin-right: 20px;
    margin-left: -10px;
    margin-top: 16px;
    padding-right: 20px;
  }
  .alafrancaise {
    margin-top: 0px;
  }
  .choisis:hover {
    cursor: pointer;
    background-color: #e2dbfd;
  }
  .choisis:hover .filtre-logo {
    color: blue;
  }
  .deguste:hover {
    cursor: pointer;
    background-color: #e2dbfd;
  }
  .deguste:hover .filtre-logo {
    color: blue;
  }
  .compose:hover {
    cursor: pointer;
    background-color: #e2dbfd;
  }
  .compose:hover .filtre-logo {
    color: blue;
  }
  .container {
    background-color: #F2F2F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Raleway', Arial, serif;
    margin-top: 30px;
  }
  .container .cards {
    margin-left: 16px;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0;
    background-color: white;
    margin-bottom: 28px;
    float: left;
    -webkit-box-shadow: 0 0 11px #b6b6b6;
            box-shadow: 0 0 11px #b6b6b6;
    border-width: 0px;
    font-style: normal;
    margin-bottom: -20px;
  }
  .container img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 780px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .nouveau {
    left: 690px;
    margin-top: -190px;
    padding-top: 10px;
  }
  .nouveau2 {
    margin-top: -100px;
    left: 690px;
  }
  .coeur p {
    left: 740px;
  }
  .coeur p:hover {
    cursor: pointer;
  }
  .coeur p:hover .coeur1 {
    display: none;
  }
  .coeur p:hover .coeur2 {
    display: block;
  }
  .coeur p:hover .coeur p:focus {
    cursor: pointer;
  }
  .coeur p:hover .coeur p:focus .coeur1 {
    display: none;
  }
  .coeur p:hover .coeur p:focus .coeur2 {
    display: block;
  }
  /* loader 1 css */
  .loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-animation: loader .01s;
            animation: loader .01s;
    -webkit-animation-delay: 1.75s;
            animation-delay: 1.75s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    z-index: 2000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .loader .load {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    border-radius: 100px;
    padding: 10px 20px;
    color: white;
    font-weight: lighter;
    font-family: 'Shrikhand',"cursive";
  }
  @-webkit-keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  @keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }
  .loader p {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: slidein;
            animation-name: slidein;
  }
  @-webkit-keyframes slidein {
    from {
      margin-right: 52%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 200%;
    }
  }
  @keyframes slidein {
    from {
      margin-right: 52%;
      width: 100%;
    }
    to {
      margin-left: 0%;
      width: 200%;
    }
  }
}
/*# sourceMappingURL=tablette.css.map */