@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@media screen and (max-width: 790px) {
  * * {
    font-family: 'Roboto', sans-serif;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    height: 90px;
  }
  header img {
    width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
}

.retour {
  margin-top: -85px;
  margin-left: 30px;
}

.retour p {
  font-size: 26px;
}

.retour a {
  color: black;
}

#back_photo {
  width: 100%;
}

#back_photo img {
  height: 300px;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  -o-object-fit: cover;
     object-fit: cover;
}

.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 45px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: #FFF;
  position: absolute;
  z-index: 1000;
  left: 93.75px;
  top: 1275.97px;
  bottom: -640.633px;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.commander p {
  font-size: 20px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#corps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  position: relative;
  z-index: 1000;
  margin-bottom: -160px;
  padding-top: 0px;
  padding-bottom: 170px;
  top: -100px;
}

#corps .contenu_corps {
  margin-left: 20px;
  padding-top: 20px;
}

#corps .contenu_corps .titre_corps {
  font-family: 'Shrikhand',"cursive";
  font-size: 24px;
}

#corps .contenu_corps .titre_corps .fa-heart {
  padding-left: 120px;
}

#corps .contenu_corps .titre_coeur {
  position: relative;
}

#corps .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  background-color: white;
  position: relative;
  margin-top: 20px;
  margin-right: 15px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

#corps .content .titre {
  padding-left: 20px;
  padding-top: 10px;
}

#corps .content .sous_titre {
  padding-left: 20px;
  margin-top: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#corps .content .prix {
  margin-right: 8px;
  margin-top: 0px;
}

#corps .content:hover .myAnim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.subContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.content-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.myAnim {
  display: none;
  height: 100%;
  width: 23%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99e2d0;
  -webkit-animation: slidein 1s;
          animation: slidein 1s;
}

@-webkit-keyframes slidein {
  from {
    width: 0%;
  }
  to {
    width: 23%;
  }
}

@keyframes slidein {
  from {
    width: 0%;
  }
  to {
    width: 23%;
  }
}

.rot360 {
  -webkit-animation: rot360 1s;
          animation: rot360 1s;
}

@-webkit-keyframes rot360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot360 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.titre1 {
  font-weight: 400;
  border-bottom: 5px solid #99e2d0;
  width: 3rem;
}

.coeur p {
  position: relative;
  left: 300px;
  bottom: 105px;
  font-size: 24px;
  width: 27px;
  width: 0px;
  height: 0px;
  top: -55px;
}

.coeur p .coeur2 {
  display: none;
  background-color: #9356DC;
  color: #9356DC;
}

.coeur p:hover {
  cursor: pointer;
}

.coeur p:hover .coeur1 {
  display: none;
}

.coeur p:hover .coeur2 {
  display: block;
}

.commander2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 45px;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  color: #FFF;
  position: absolute;
  z-index: 1000;
  left: 93.75px;
  bottom: -640.633px;
  top: 1360px;
  background-color: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.commander2 p {
  font-size: 20px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.commander:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.commander2:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #fff;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

#footer_contain {
  margin-left: -10px;
}

footer {
  background-color: #353535;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-bottom: 1px;
}

footer .logo_foot {
  width: 100px;
  color: white;
  margin-left: 40px;
}

footer .logo_foot p {
  padding-top: 15px;
  font-family: 'Shrikhand',"cursive";
}

footer ul {
  list-style-type: none;
  line-height: 2;
}

footer ul a {
  text-decoration: none;
  color: white;
}

/* ANIMATION */
.content {
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  /* Safari et Chrome */
  -o-animation: fadein 1s;
  /* Opera */
  -moz-animation: fadein 1s;
  /* Mozilla */
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 40px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 25px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style-menu.css.map */