@media screen and (max-width: 790px)
{
    *{
        *{
            font-family: 'Roboto', sans-serif;
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
        }
    }
    header
{
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: white;
   height: 90px;
        img{
          width: 200px;
          padding-top: 10px;
          padding-bottom: 5px;
      }

    }
           
        }

      .retour {
        margin-top: -85px;
        margin-left: 30px;
                p{
                    font-size: 26px;
                }
                    a{
                         color: black;
                    }
                }
#back_photo
        {
          width: 100%;
            img{
                height: 300px;
                box-shadow: 4px 4px 8px rgba(0,0,0,.125);
                object-fit: cover;
            }
        }

.commander
{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 45px;
        border-radius: 100px;
        background-image: linear-gradient(0deg,#9356DC,#FF79DA);
        color: #FFF;
        position: absolute;
        z-index: 1000;
        left: 93.75px;
        top: 1275.97px;
        bottom: -640.633px;
        box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
            p {
                font-size: 20px;
                margin-top: 10px;
                display: flex;
                align-content: center;
            }
}
#corps
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  position: relative;
  z-index: 1000;
  margin-bottom: -160px;
  padding-top: 0px;
  padding-bottom: 170px;
  top: -100px;
  .contenu_corps {   
    margin-left: 20px;
    padding-top: 20px;
    .titre_corps
    {
        font-family: 'Shrikhand',"cursive";
        @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
        font-size: 24px;
        .fa-heart{
          padding-left: 120px;
        }
    }

    .titre_coeur{
      position: relative;
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    background-color: white;
    position: relative;
    margin-top: 20px;
    margin-right: 15px;
    align-items: flex-start;
    cursor: pointer;
    .titre {
      padding-left: 20px;
      padding-top: 10px;
    }
    .sous_titre {
      padding-left: 20px;
      margin-top: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

    }
    .prix {
      margin-right: 8px;
      margin-top: 0px;
    }
    &:hover {
      .myAnim {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
      }
    }
  }
}

.subContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content-first {
  display: flex;
  flex-direction: column;
  width: 100%;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.myAnim {
  display: none;
  height: 100%;
  width: 23%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #99e2d0;
  animation: slidein 1s;
}
    @keyframes slidein {
      from {
        width: 0%;
      }
      to {
        width: 23%;
      }
    }
    .rot360 {
      animation: rot360 1s;
    }
    @keyframes rot360 {
      from { 
        transform: rotate(0deg); 
      } to { 
        transform: rotate(360deg); 
      }
    }
  

        .titre1{
          font-weight: 400;
          border-bottom: 5px solid #99e2d0;
          width: 3rem;
      }
        
        

.coeur p{
  position: relative;
  left: 300px;
  bottom:105px;
  font-size: 24px;
  width: 27px;
  width: 0px;
  height: 0px;
  top:-55px;
  .coeur2 {
    display: none;
    background-color: #9356DC;
    color: #9356DC
  }
}
.coeur p:hover{
  cursor: pointer;
  .coeur1{display: none;
  }
  .coeur2{
    display: block;
  }

}

.commander2
{
        display: flex;
        justify-content: center;
        width: 50%;
        height: 45px;
        border-radius: 100px;
        background-image: linear-gradient(0deg,#9356DC,#FF79DA);
        color: #FFF;
        position: absolute;
        z-index: 1000;
        left: 93.75px;
        bottom: -640.633px;
        top: 1360px;
        background-color: #fff;
      box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
        p {
            font-size: 20px;
            margin-top: 10px;
            display: flex;
            align-content: center;
        }
    }
    .commander:hover{
      cursor: pointer;
      opacity: 0.8;
      background-color: #fff;
      box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
    }
    .commander2:hover{
      cursor: pointer;
      opacity: 0.8;
      background-color: #fff;
      box-shadow: .25rem .25rem 10px rgba(0,0,0,.5);
    }
#footer_contain
{
    margin-left:-10px;
}
footer{
    background-color: #353535;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 1px;
        .logo_foot
        {
            width: 100px;
            color : white;
            margin-left: 40px;
            p{
                padding-top: 15px;
                font-family: 'Shrikhand',"cursive";
            @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
            }
           
    }
ul{
  list-style-type:none;
  line-height: 2;
        a{
        text-decoration: none;
        color: white;
    }   
}
}



/* ANIMATION */
.content {
  animation: fadein 1s;
  -webkit-animation: fadein 1s; /* Safari et Chrome */
  -o-animation: fadein 1s; /* Opera */
  -moz-animation: fadein 1s; /* Mozilla */
}
@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 40px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 25px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 25px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 25px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }

}
